<section class="index-page">
  <img src={{ avatar }} alt="avatar" class="avatar">
  <h3>Hello {{ name }}</h3>
  <a href="/auth/logout" class="loginBtn logoutBtn--google ">
    Logout
  </a>
</section>